.forma{
    background-color: rgb(12, 185, 185);
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 50px;
}

input{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}
textarea{
    margin-top: 20px;
}